nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/simulador')
              | Inicio
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/sim-compras') Compras
          li.nav-item
            a.nav-link(href='/sim-web') Web
          li.nav-item
            a.nav-link(href='/sim-infracciones') Infracciones
          li.nav-item
            a.nav-link(href='/sim-pagos') Pagos
          li.nav-item
            a.nav-link(href='/sim-envios') Envios
          li.nav-item
            a.nav-link(href='/sim-publicaciones') Publicaciones